@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:200';

/*general*/
:root{
  --backgound-color: #000;
  --text-shadow: #03e9f4;
  --text-white: #fafafa;

  --icon-shake-color1: #00a8b1;
  --icon-shake-color2: #aa0000;
}

html,
body {
  font-family: 'Roboto Mono', monospace;
  background: var(--backgound-color);
  height: 90%;
}

/*start container*/
.start_container {
  height: 90%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.start_container .name {
  font-weight: 100;
  font-size: 100px;
  position: static;
  animation: skew-x-shake-name 5s infinite;
  text-shadow:0 0 5px var(--text-shadow),
              0 0 25px var(--text-shadow),
              0 0 50px var(--text-shadow),
              0 0 100px var(--text-shadow);
}

.start_container .name:hover {
  position: relative;
  top: 10%;
  color: var(--text-white);
  text-transform: uppercase;
  transition: all ease-out 0.7s;
}

.start_container .surname {
  font-weight: 100;
  font-size: 100px;
  color: var(--text-white);
  position: relative;
  top: 10%;
  text-transform: uppercase;
  animation: skew-x-shake-name 5s infinite;
  text-shadow:  0 0 5px var(--text-shadow),
                0 0 25px var(--text-shadow),
                0 0 50px var(--text-shadow),
                0 0 100px var(--text-shadow);
}

@keyframes skew-x-shake-name {
  0% { transform: skewX(0deg); }
  10% { transform: skewX(0deg); }
  20% { transform: skewX(0deg); }
  30% { transform: skewX(0deg); }
  40% { transform: skewX(-4deg); }
  50% { transform: skewX(2deg); }
  60% { transform: skewX(0deg); }
  70% { transform: skewX(0deg); }
  80% { transform: skewX(0deg); }
  90% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }  
}

.start_container .surname:hover {
  position: static;
  color: var(--backgound-color);
  text-transform: none;
  transition: all ease-out 0.7s;
}

/*bottom container*/
.bottom_container {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  bottom: 20%;
}

.bottom_container .profession {
  font-size: 15px;
  letter-spacing: 0.2em;
  color: var(--text-white);
  text-shadow: 10px 15px 5px var(--text-shadow);
  animation: skew-x-shake 5s infinite;
  padding-bottom: 30px;
}

.bottom_container .profession:hover {
  letter-spacing: 0.5em;
  transition: 3s;
  color: var(--text-shadow);
  text-shadow: 20px 20px 5px var(--icon-shake-color2);
}

@keyframes skew-x-shake {
  0% { transform: skewX(-15deg); }
  10% { transform: skewX(10deg); }
  20% { transform: skewX(0deg); }
  30% { transform: skewX(0deg); }
  40% { transform: skewX(0deg); }
  50% { transform: skewX(0deg); }
  60% { transform: skewX(0deg); }
  70% { transform: skewX(0deg); }
  80% { transform: skewX(0deg); }
  90% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }  
}

/*buttons*/
.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

button {
  padding: 20px 40px;
  background-color: var(--backgound-color);
  color: var(--text-white);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 1s;
  cursor: pointer;
  text-transform: uppercase;
}

button:hover {
    background: var(--icon-shake-color1);
    color: var(--backgound-color);
    box-shadow: 0 0 5px var(--text-shadow),
                0 0 25px var(--text-shadow),
                0 0 50px var(--text-shadow),
                0 0 100px var(--icon-shake-color2);
}

/*social*/
.socialbtns {
  text-align: center;
  transform: translateX(-1%);
}

.socialbtns li {
  display: inline-block;
}

a {
  text-decoration: none;
  padding: 10px;
}

a:hover{
  text-decoration: none;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  bottom: 8px;
  animation: icon_shake 500ms 2;
}

@keyframes icon_shake {
  0% {
    text-shadow: 5px 4px var(--icon-shake-color1), -5px -6px var(--icon-shake-color2);
  }
  25% {
    text-shadow: -5px -6px var(--icon-shake-color1), 5px 4px var(--icon-shake-color2);
  }
  50% {
    text-shadow: 5px -4px var(--icon-shake-color1), -8px 4px var(--icon-shake-color2);
  }
  75% {
    text-shadow: -8px -4px var(--icon-shake-color1), -5px -4px var(--icon-shake-color2);
  }
  100% {
    text-shadow: -5px 0 var(--icon-shake-color1), 5px -4px var(--icon-shake-color2);
  }
}

.socialbtns .fa {
  color: var(--text-white);
  text-shadow: 1px 1px 0px var(--backgound-color),
      1px -1px 0px var(--backgound-color),
      -1px 1px 0px var(--backgound-color),
      -1px -1px 0px var(--backgound-color);
  transition: all ease-out 0.8s;
}

.socialbtns .fa:hover {
  color: var(--backgound-color);
  text-shadow: 1px 1px 0px var(--text-white),
      1px -1px 0px var(--text-white),
      -1px 1px 0px var(--text-white),
      -1px -1px 0px var(--text-white);
  transition: all ease 0.8s;
}