@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:200';

/*general*/
:root{
  --backgound-color: #000;
  --text-shadow: #03e9f4;
  --text-white: #fafafa;
  --text-blue-console1: #03e8f482;
  --text-blue-console2: #007f85;
  --text-grey: #c4c4c4;

  --icon-shake-color1: #00a8b1;
  --icon-shake-color2: #aa0000;
}

html,
body {
  font-family: 'Roboto Mono', monospace;
  background: var(--backgound-color);
  height: 90%;
  color: var(--text-white);
}

/*header*/
header nav {
  position: relative;
  display: flex;
}

/*header logo*/
header nav button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: var(--backgound-color);
  border: var(--icon-shake-color1);
  border-style: dotted;
  border-radius: 10px;
  border-width: 2px;
  margin-left: 2%;
  margin-top: 2%;

  font-family: "News Cycle", sans-serif;
  color: var(--icon-shake-color1);
  text-transform: uppercase;
  font-weight: bold;
}

header nav button:hover {
  color: var(--text-shadow);
}

header nav .logo .logo_top .logo_top_text {
  padding: 0;
  margin: 0;
}

header nav .logo .logo_btm .logo_btm_text {
  padding: 0;
  margin: 0;
  font-size: xx-large;
}

/*header text*/
header nav ul {
  position: relative;
  margin-top: 3%;
}

header nav ul li {
  display: block;
  position: relative;
  text-align: right;
  color: var(--text-white);
  padding-left: 50px;
  padding-right: 100px;
  padding-bottom: 5px;
  cursor: pointer;
}

header nav ul li:hover {
  color: var(--text-shadow);
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

header nav ul li a{
  color: var(--icon-shake-color1);
  font-size: large;
}

/*header nav description*/
header nav .nav_desc {
  padding-top: 5%;
  color: var(--text-white);
}

/*start text (first section)*/
.start_text {
margin-top: 10%;
margin-left: 30%;
}

.start_text h5 {
  color: var(--text-blue-console1);
  letter-spacing: 0.2em;
  font-weight: 100;
  font-size: 20px;
  padding: 0;
  margin: 0;
  animation: skew-y-shake 10s infinite;
}

@keyframes skew-y-shake {
  0% { transform: skewY(-0.4deg); }
  10% { transform: skewY(0.7deg); }
  20% { transform: skewY(0deg); }
  30% { transform: skewY(0deg); }
  40% { transform: skewY(0deg); }
  50% { transform: skewY(0deg); }
  60% { transform: skewY(0deg); }
  70% { transform: skewY(0deg); }
  80% { transform: skewY(0deg); }
  90% { transform: skewY(0deg); }
  100% { transform: skewY(0deg); }  
}

.start_text h1 {
  color: var(--text-white);
  letter-spacing: 0.2em;
  font-weight: 700;
  font-size: 40px;
  padding: 0;
  margin: 0;
  font-family: "News Cycle", sans-serif;
  position: relative;
  left: 5%;
}

.start_text h1:hover {
  color: var(--text-blue-console2);
  transition: all ease-out 5s;
  letter-spacing: normal;
  text-shadow: 10px 15px 20px var(--text-blue-console1);
  animation: skew-y-shake 5s infinite;
}

.start_text h2, h3, h4 {
  color: var(--text-grey);
  animation: color-change1 20s infinite;
}

@keyframes color-change1 {
  0% { color: var(--text-grey);}
  10% { color: var(--text-grey);}
  20% { color: var(--text-grey);}
  30% { color: var(--text-grey);}
  40% { color: var(--text-grey);}
  50% { color: var(--text-grey);}
  60% { color: var(--icon-shake-color2);}
  70% { color: var(--text-grey);}
  80% { color: var(--text-grey);}
  90% { color: var(--text-grey);}
  100% { color: var(--text-grey);}
}

.start_text h4 {
  position: relative;
  right: 5%;
  animation: color-change2 20s infinite;
}

@keyframes color-change2 {
  0% { color: var(--text-grey);}
  10% { color: var(--text-grey);}
  20% { color: var(--text-grey);}
  30% { color: var(--text-grey);}
  40% { color: var(--text-grey);}
  50% { color: var(--text-grey);}
  60% { color: var(--text-grey);}
  70% { color: var(--icon-shake-color2);}
  80% { color: var(--text-grey);}
  90% { color: var(--text-grey);}
  100% { color: var(--text-grey);}
}

.start_text h4:hover {
  position: static;
}

/*about*/
.about {
margin-top: 15%;
}

.about img {
  width: 20%;
  justify-content: center;
  align-items: center;
  display: flex;
}

/*project*/
.img span {
  width: 50%;
  height: 50%;
  position: absolute;
}

.img span:first-child, .img span:nth-child(2) {
  top: 0;
}
.img span:first-child, .img span:nth-child(3) {
  left: 0;
}
.img span:nth-child(2), .img span:nth-child(4) {
  right: 0;
}
.img span:nth-child(3), .img span:nth-child(4) {
  bottom: 0;
}

#grid {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  width: 75vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
#grid > a {
  position: relative;
  transform-style: preserve-3d;
}
#grid > a:hover {
  cursor: pointer;
}
#grid > a:hover .title:after {
  background-position: 0% 100%;
}
#grid > a .img {
  width: 100%;
  position: relative;
}
#grid > a .img > span {
  z-index: 2;
}
#grid > a .img > span ~ img {
  z-index: 1;
  transition: 0.2s;
  width: 100%;
}
#grid > a .img > span:first-child:hover ~ img {
  transform: perspective(600px) rotateX(10deg) rotateY(-10deg);
}
#grid > a .img > span:nth-child(2):hover ~ img {
  transform: perspective(600px) rotateX(10deg) rotateY(10deg);
}
#grid > a .img > span:nth-child(3):hover ~ img {
  transform: perspective(600px) rotateX(-10deg) rotateY(-10deg);
}
#grid > a .img > span:nth-child(4):hover ~ img {
  transform: perspective(600px) rotateX(-10deg) rotateY(10deg);
}
#grid > a .title {
  font-weight: 400;
  font-size: 1.1rem;
  position: relative;
}
#grid > a .title:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2.5px;
  left: 0;
  background-image: linear-gradient(to right, var(--text-shadow) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: 99%;
  transition: 0.2s;
}
#grid > a .description {
  font-size: 0.8rem;
  margin-top: 0.3rem;
  display: block;
}